schemas/0_4_5/haml__version_0_4_5.xsd

<xs:schema
        xmlns="urn:HAML.Namespace"
        xmlns:hamlns="urn:HAML.Namespace"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        elementFormDefault="qualified" attributeFormDefault="unqualified"
        targetNamespace="urn:HAML.Namespace"
        version="0.4.5">

    <!-- HAML -->
    <xs:element name="haml">
        <xs:annotation><xs:documentation>
        This is the document root. It contains information identifying the document and reporting center..
        It serves as a root for a number of patients.

        Elements:
        ----------
            haml-id: A structure containing an identifier of this document.
            reporting-center: Freeform text field used to describe the reporting center who submitted this document.
            patient: An element containing information about a patient, and which assays were applied to this patient.
            document-context: A freeform text field describing the use/purpose of this haml document.
                For example, the document may be intended for use in screening for solid organ transplant,
                stem cell transplant, or a platelet transfusion.
                You may also specify if this is used for scientific study or a clinical setting..
                <!-- TODO: <requisition-reason> instead of <document-context>?
                	 TODO: This was suggested at some point. What does FHIR do? -->
        Attributes:
        -----------
        version: Expected to be '0.4.5' to use this version of the HAML schema.
        </xs:documentation></xs:annotation>
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="haml-id" type="hamlns:hamlid" minOccurs="1" maxOccurs="1"/>
                <xs:element type="xs:string" name="reporting-center" minOccurs="0" maxOccurs="1"/>
                <xs:element name="patient" type="hamlns:patient" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="document-context" type="xs:string" minOccurs="0" maxOccurs="1"/>
            </xs:choice>
            <xs:attribute name="version" use="required"/>
        </xs:complexType>
    </xs:element>

    <!-- HAMLID -->
    <xs:complexType name="hamlid">
        <xs:annotation><xs:documentation>
            Specifies a unique identifier for this HAML document.  This id follows
            the HL7 standard for uniqueness using a two-part key.  'root' is the
            unique organization identifier publicly registered for your organization.
            'extension' is the unique document id managed internally for your
            organization, but must be unique and identify this specific HML document.
            Together root and extension guarantee global uniqueness.

            http://www.oid-info.com/faq.htm
            http://www.hl7.org/oid/index.cfm

            Attributes:
            -----------
            - root:  Unique publicly registered identifier for the HML
            creator's organization.
            (ex: NMDP HL7 id is "2.16.840.1.113883.3.1470")
            Format is expected to be a string of digits and dot
            delimiters.  (required)
            - extension:   A unique document identifier managed internally by the
            organization specified in 'root'. Can be any alpha-numeric
            format desired by the organization. (ex: "haml-0.9.7-123456789.23a")
            (optional and must be at least 1 non-whitespace character
            long)
            NOTE - If extension is NOT included, the unique document
            identifier is expected to be appended at the end of the root
            identifier above in accordance with HL7 practices.
        </xs:documentation></xs:annotation>
        <xs:choice minOccurs="0" maxOccurs="2">
            <xs:element type="hamlns:root" name="root" minOccurs="0" maxOccurs="1"/>
            <xs:element type="hamlns:extension" name="extension" minOccurs="0" maxOccurs="1"/>
        </xs:choice>
    </xs:complexType>

    <!-- HAMLID : ROOT -->
    <xs:simpleType name="root">
        <xs:annotation><xs:documentation>
            Unique publicly registered identifier for the HML creator's organization.
            This can be an HL7 compliant field (ex: NMDP is "2.16.840.1.113883.3.1470")
            Format is expected to be a string of digits and dot delimiters. (required)
        </xs:documentation></xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9\.])+" />
        </xs:restriction>
    </xs:simpleType>

    <!-- HAMLID : EXTENSION -->
    <xs:simpleType name="extension">
        <xs:annotation><xs:documentation>
            A unique document identifier managed internally by the
            organization specified in 'root'. Can be any alpha-numeric
            format desired by the organization. (ex: "hml-0.9.7-123456789.23a")
            (required and must be at least 1 non-whitespace character long and
            guarantee uniqueness)
        </xs:documentation></xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
        </xs:restriction>
    </xs:simpleType>

    <!-- PATIENT -->
    <xs:complexType name="patient">
        <xs:annotation><xs:documentation>
            A patient from which the sample is drawn. The patient may have a corresponding ID, and multiple samples
        </xs:documentation></xs:annotation>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element type="xs:string" name="patient-id" minOccurs="0" maxOccurs="1" />
            <xs:element name="sample" type="hamlns:sample" maxOccurs="unbounded" minOccurs="0"/>
        </xs:choice>
    </xs:complexType>

    <!-- SAMPLE -->
    <xs:complexType name="sample">
        <xs:annotation><xs:documentation>
            This represents a sample, most likely of blood, which was drawn from a patient.

            Elements:
            -----------
            sample-id: A string with a unique identifier for this sample
            sample-date: A dateTime which identifies the date and (optionally) the time when a sample was drawn.
            <!-- TODO: Freeform sample description? Is that OK? Sure?-->
            sample-description: Freeform text to describe what material was sampled.
                For example, PBMCs, serum, or blood. Saliva?
            testing-laboratory: A string with a unique identifier for the laboratory where this sample was drawn
            assay: A number of "assay" elements specify an analysis performed on this sample
            <!-- TODO: Is this sample a positive or negative control sample?-->

        </xs:documentation></xs:annotation>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="sample-id" type="xs:string" minOccurs="1" maxOccurs="1" />
            <xs:element name="sample-date" type="hamlns:date" minOccurs="0" maxOccurs="1" />
            <xs:element name="sample-description" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="testing-laboratory" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="assay" type="hamlns:assay" minOccurs="0" maxOccurs="unbounded" />
        </xs:choice>
    </xs:complexType>

    <!-- ASSAY -->
    <xs:complexType name="assay">
        <xs:annotation><xs:documentation>
            An assay describes analysis of a sample.
            Modifications/preparations/dilutions were done to a sample to create a working sample.

            Elements:
            -----------
            assay-id: A unique identifier for this assay.
            assay-date: The date when an assay was performed
            working-sample:
            interpretation:
        </xs:documentation></xs:annotation>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="assay-id" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="assay-date" type="hamlns:date" minOccurs="0" maxOccurs="1"/>
            <xs:element name="working-sample" type="hamlns:working-sample" minOccurs="0" maxOccurs="1"/>
            <xs:element name="interpretation" type="hamlns:interpretation" minOccurs="0" maxOccurs="1"/>
        </xs:choice>
    </xs:complexType>

    <!-- WORKING-SAMPLE -->
    <xs:complexType name="working-sample">
        <xs:annotation><xs:documentation>
            A working sample is a part of a sample which is subjected to
            sample preparations for a subsequent solid-phase panel analysis.

            Elements:
            -----------
            working-sample-id: A unique identifier for this working sample.
            treatment: Description of treatments which have been applied to the sample
            dilution: Structure containing info on how has the sample been Diluted
            solid-phase-panel: A structure with details on the solid phase panel
                which has been run on this working sample.

        </xs:documentation></xs:annotation>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="working-sample-id" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="treatment" type="hamlns:treatment" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="dilution" type="hamlns:dilution" minOccurs="0" maxOccurs="1"/>
            <xs:element name="solid-phase-panel" type="hamlns:solid-phase-panel" maxOccurs="unbounded" minOccurs="0"/>
        </xs:choice>
    </xs:complexType>

    <!-- TREATMENT -->
    <xs:complexType name="treatment">
        <xs:annotation><xs:documentation>
            A treatment describes a process which was performed on a working sample in preparation
            for solid phase analysis.

            (TODO: examples?)

            Elements:
            -----------
            method: A freeform description of the treatment which has been applied
        </xs:documentation></xs:annotation>
        <xs:sequence>
            <xs:element type="xs:string" name="method"/>
        </xs:sequence>
    </xs:complexType>

    <!-- DILUTION -->
    <xs:complexType name="dilution">
        <xs:annotation><xs:documentation>
            A working sample may be diluted in preparation for solid-phase-panel analysis.
            This element describes the ratio and substance used for dilution.

            Elements:
            -----------
            ratio: This is expected to be a dilution ratio, a floating point number usually between 0 and 1.
            diluent: A freeform text description of the diluent substance or buffer
        </xs:documentation></xs:annotation>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element type="xs:float" name="ratio" minOccurs="1" maxOccurs="1"/>
            <xs:element type="xs:string" name="diluent" minOccurs="1" maxOccurs="1"/>
        </xs:choice>
    </xs:complexType>

    <!-- SOLID-PHASE-PANEL -->
    <xs:complexType name="solid-phase-panel">
        <xs:annotation><xs:documentation>
            A solid-phase-panel analysis.
            This includes metadata about the solid phase panel and a series of beads.

            Elements:
            -----------
            raw-MFI-divider: This constant is used for comparing multiple analysis machines.
                Sometimes these devices systematically have biases on the same sample, and this constant can be used to
                calibrate raw-MFI across multiple batches.
            kit-manufacturer: The company or institution that developed the kit. Freeform text
            kit-description: A description of the purpose of this kit.  For example, "HLA Class II Extended"
            catalog-number: A string identifying the specific kit or that was used in this analysis
            lot-number: A string identifying the specific  lot that was used in this analysis
            interpretation-software: The software which was used for analysis of the solid-phase-panel results.
            interpretation-software-version: The version of the software used for analysis of the
                solid-phase-panel results.
            <!--
            TODO: The way this is set up now, this needs to point to a working sample
            TODO: Do we need to separate samples and un-nest them?
            -->
            positive-serum-working-sample-id: This must match a working-sample-id within this document which
                refers to the serum used as a positive control.
            negative-serum-working-sample-id: This must match a working-sample-id within this document which
                refers to the serum used as a negative control.
            bead: A structure describing the beads contained within this panel
        </xs:documentation></xs:annotation>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element type="xs:float" name="raw-MFI-divider" minOccurs="0" maxOccurs="1"/>
            <xs:element name="kit-manufacturer" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="kit-description" minOccurs="0" maxOccurs="1"  />
            <xs:element name="catalog-number" type="xs:string" minOccurs="0" maxOccurs="1"  />
            <xs:element name="lot-number" type="xs:string" minOccurs="0" maxOccurs="1"  />
            <xs:element name="interpretation-software" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="interpretation-software-version" type="xs:string"  minOccurs="0" maxOccurs="1" />
            <xs:element name="positive-serum-working-sample-id" type="xs:string" minOccurs="0" maxOccurs="1"  />
            <xs:element name="negative-serum-working-sample-id" type="xs:string" minOccurs="0" maxOccurs="1"  />
            <xs:element name="bead" type="hamlns:bead" minOccurs="0" maxOccurs="unbounded" />
        </xs:choice>
    </xs:complexType>

    <!-- BEAD -->
    <xs:complexType name="bead">
        <xs:annotation><xs:documentation>
            A single bead within a solid phase panel.
            This bead usually has a specificity, which may be an allele name or a serological specificity.

            The bead has information about it's corresponding positive and negative controls.

            Elements:
            ----------
            - bead-info: Structure containing details on the specificity and identifiers of an individual bead
            - raw-data: Structure containing measured MFI or raw data as measured in the assay.
            - converted-data: Structure containing converted MFIs, formulas used, and
                interpretations of bead-specific results.

        </xs:documentation></xs:annotation>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element type="hamlns:bead-info" name="bead-info" minOccurs="0" maxOccurs="1"/>
            <xs:element type="hamlns:raw-data" name="raw-data" minOccurs="0" maxOccurs="1"/>
            <xs:element type="hamlns:converted-data" name="converted-data" minOccurs="0" maxOccurs="1"/>
        </xs:choice>
    </xs:complexType>

    <!-- BEAD-INFO -->
    <xs:complexType name="bead-info">
        <xs:annotation><xs:documentation>
            This structure contains information about a bead within a panel.
            The bead has a certain HLA specificity or specificities.
            This might be a control bead or a test bead.

            Elements:
            ----------
            - bead-id: An integer uniquely identifying this bead within the panel.
            - negative-control-bead-id: This refers to a bead-id within this panel which is used as a negative control bead
            - positive-control-bead-id: This refers to a bead-id within this panel which is used as a positive control bead
            - HLA-target-type: This is a PLString containing the HLA phenotype specificity of the bead.
                Either an HLA-target-type or a HLA-target-serological-specificity should be provided. Not both.
            - HLA-target-serological-specificity: This is an ALString containing the
                HLA serological specificity of the bead.
                Either an HLA-target-type or a HLA-target-serological-specificity should be provided. Not both.
            - type: Valid options are "test" or "control"
            - control-type: Valid options are "negative" or "positive".  Required if the bead type is "control"

        </xs:documentation></xs:annotation>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element type="xs:integer" name="bead-id" minOccurs="1" maxOccurs="1"/>
            <xs:element type="xs:integer" name="negative-control-bead-id" minOccurs="0"/>
            <xs:element type="xs:integer" name="positive-control-bead-id" minOccurs="0"/>
            <xs:element type="hamlns:hla-plstring" name="HLA-target-type" minOccurs="0" maxOccurs="1"/>
            <xs:element type="hamlns:hla-alstring" name="HLA-target-serological-specificity" minOccurs="0" maxOccurs="1"/>
            <xs:element type="xs:string" name="type" minOccurs="1" maxOccurs="1"/>
            <xs:element type="xs:string" name="control-type"/>
        </xs:choice>
    </xs:complexType>

    <!-- RAW-DATA -->
    <xs:complexType name="raw-data">
        <xs:annotation><xs:documentation>
            Description..

            Elements:
            ----------
            - bead-count: number of beads (int) identified in this bead gate
            - sample-raw-MFI: This is the raw MFI measured for the test sample.
                No modifications or calculations have been performed on this measurement.
            - negative-control-serum-raw-MFI: This is the raw MFI measured for the negative control sample.
                No modifications or calculations have been performed on this measurement.
            - positive-control-serum-raw-MFI: This is the raw MFI measured for the positive control sample.
                No modifications or calculations have been performed on this measurement.
        </xs:documentation></xs:annotation>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element type="xs:short" name="bead-count"/>
            <xs:element type="xs:short" name="sample-raw-MFI"/>
            <xs:element type="xs:short" name="negative-control-serum-raw-MFI" minOccurs="0"/>
            <xs:element type="xs:short" name="positive-control-serum-raw-MFI" minOccurs="0"/>
        </xs:choice>
    </xs:complexType>

    <!-- CONVERTED-DATA -->
    <xs:complexType name="converted-data">
        <xs:annotation><xs:documentation>
            Description..

            Elements:
            ----------
            - formula:  Freeform Text describing how the adjusted MFI was calculated.

                    Modified MFI =
                    (bead Raw - Sample Negative)
                    - (Background raw - background negative)

                    Modified MFI =
                    (bead Raw / 3 - Sample Negative / 3)
                    - (Background raw / 3 - background negative / 3)

            - sample-adjusted-MFI
            - negative-control-serum-adjusted-MFI
            - positive-control-serum-adjusted-MFI
            - bead-interpretation
            - bead-plausible
            - bead-plausible-reason

        </xs:documentation></xs:annotation>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element type="xs:string" name="formula"/>
            <!-- TODO: Do we need a formula here for negative-control-serum-adjusted-MFI?
                 TODO: Obviously they cannot use negative control values to calculate this
            -->
            <xs:element type="xs:short" name="sample-adjusted-MFI"/>
            <xs:element type="xs:short" name="negative-control-serum-adjusted-MFI" minOccurs="0"/>
            <xs:element type="xs:short" name="positive-control-serum-adjusted-MFI" minOccurs="0"/>
            <xs:element type="hamlns:bead-interpretation" name="bead-interpretation" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="xs:boolean" name="bead-plausible"/>
            <xs:element type="hamlns:bead-plausible-reason" name="bead-plausible-reason"/>
        </xs:choice>
    </xs:complexType>

    <!-- BEAD-PLAUSIBLE-REASON -->
    <xs:simpleType name="bead-plausible-reason">
        <xs:annotation><xs:documentation>
            This field contains descriptions of possible reasons a bead is determined plausible or not.
            For example, one reason is that an AB might target the transmembrane region of an HLA, and this is not a clinically relevant
            reactivity event.
        </xs:documentation></xs:annotation>
        <!--
        TODO: Is it too restrictive to allow only these reasons?
        -->
        <xs:restriction base="xs:string">
            <xs:enumeration value="transmembrane-antibody" />
            <xs:enumeration value="self-antigen" />
        </xs:restriction>
    </xs:simpleType>

    <!-- BEAD-INTERPRETATION -->
    <xs:complexType  name="bead-interpretation" >
        <xs:annotation><xs:documentation>
            This structure contains an interpretation of a single bead.

            Elements:
            ----------
            - classification-entity: This is the individual or entity who has performed a bead interpretation.
            - interpretation-reason: This is the reason a bead has been interpreted. For example, a standard MFI threshold (e.g. 500) was used
            - bead-classification: A text Positive/Negative/Borderline/Unspecified classification.
            - bead-rank: a numerical bead rank specifying if there was reactivity on this bead.
        </xs:documentation></xs:annotation>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <!-- TODO: Check how the requirements (minOccurs, maxOccurs) works within here, the choice makes these all optional??? -->
            <xs:element type="xs:string" name="classification-entity" minOccurs="0" maxOccurs="1"/>
            <xs:element type="xs:string" name="interpretation-reason" minOccurs="0" maxOccurs="1"/>
            <xs:element type="hamlns:bead-classification" name="bead-classification" minOccurs="1" maxOccurs="1"/>
            <xs:element type="hamlns:bead-rank" name="bead-rank" minOccurs="1" maxOccurs="1"/>
        </xs:choice>
    </xs:complexType>

    <!-- HLA-PLSTRING -->
    <xs:simpleType name="hla-plstring">
        <xs:annotation><xs:documentation>
            A PLString is a Phenotype List String. PL-String encodes the HLA phenotype composition of reagents
                e.g. cells or single antigens used in antibody detection assays
            https://plstring.org/
        </xs:documentation></xs:annotation>
        <xs:restriction base="xs:string">
        </xs:restriction>
    </xs:simpleType>

    <!-- HLA-ALSTRING -->
    <xs:simpleType name="hla-alstring">
        <xs:annotation><xs:documentation>
            An ALString is an Antigen List String. AL-Strings captures patient-specific conclusions
                about HLA specificities that are present, acceptable, or unacceptable,
                based on clinical antibody testing

            https://plstring.org/
        </xs:documentation></xs:annotation>
        <xs:restriction base="xs:string">
        </xs:restriction>
    </xs:simpleType>

    <!-- BEAD-CLASSIFICATION -->
    <xs:simpleType name="bead-classification">
        <xs:annotation><xs:documentation>
            This field describes if a bead was determined as Positive or Negative.
            Borderline results are also allowed.
                This is a valid result, but is ambiguous if it should be called Positive or Negative.
                It could also be considered as Intermediate.

            Undetermined means an assessment could not be made, perhaps due to data quality issues?
        </xs:documentation></xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="Positive"/>
            <xs:enumeration value="Negative"/>
            <xs:enumeration value="Borderline"/>
            <xs:enumeration value="Undetermined"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- INTERPRETATION -->
    <xs:complexType name="interpretation" >
        <xs:annotation><xs:documentation>
            An Interpretation is where we put the results of an entire assay.
            This includes which antigens/specificities are determined to be positive or negative.

            Elements:
            ------------
            interpretation-context: “Clinical Interpretation”
                Could include a field of use in here
                In the context of transfusion we have these unnacceptables…
            reject-assay: Boolean if the assay was rejected or not.
            reject-reason: Freeform text for describing why the assay was rejected.
            failure-code: <!--TODO: How to describe Failure code?  I don't remember this -->
            positive-specificities: An ALString describing positive specificities resulting from this panel.
            questionable-specificities: An ALString describing questionable specificities resulting from this panel.
            negative-specificities: An ALString describing negative specificities resulting from this panel.
        </xs:documentation></xs:annotation>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="interpretation-context" type="xs:string"/>
            <xs:element name="reject-assay" type="xs:boolean"/>
            <xs:element name="reject-reason" type="xs:string"/>
            <xs:element name="failure-code" type="xs:integer" />
            <xs:element name="positive-specificities" type="hla-alstring"/>
            <xs:element name="questionable-specificities" type="hla-alstring"/>
            <xs:element name="negative-specificities" type="hla-alstring"/>
        </xs:choice>
    </xs:complexType>

    <!-- DATE -->
    <xs:simpleType name="date">
        <xs:annotation><xs:documentation>
            hamlns:date is a union of xs:dateTime and xs:date
            This allows including either a date or a dateTime data.

            Standard ISO Date formats are required.
        </xs:documentation></xs:annotation>
        <xs:union memberTypes="xs:dateTime xs:date"/>
    </xs:simpleType>

    <!-- BEAD-CLASSIFICATION -->
    <xs:simpleType name="bead-rank">
        <xs:annotation><xs:documentation>

        </xs:documentation></xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="8"/>
            <xs:enumeration value="6"/>
            <xs:enumeration value="4"/>
            <xs:enumeration value="2"/>
            <xs:enumeration value="1"/>
            <xs:enumeration value="Undetermined"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>